/*
Theme Name: Repasse Rio
Theme URL: http://www.repasserio.com.br
Description: site de revendedores de carro
Author: Daniel 
Author URL: decro.net
Version:1.0
*/

 body{
 	padding: 0;
 	margin: 0;
 	font-size: 15px;
 }

 a{
 	text-decoration: none;
 	color: #000;
 }
 a:hover{
 	text-decoration: none;
 	color: #555;
 }

/* div css header */
.header{
	height: 500px;
	background: url("assets/images/bg_header.jpg") no-repeat center;
	padding: 100px 0px;

}
.header h1{
	margin: 0;
	color: #fff;
}
.header p{
	color: #fff;
}
.header h2 {
	padding: 10px;
	color: #fff;
}
.header h1 a{
	color:#fff;
	text-decoration: none;
}

.header .info{
	margin: 0 auto;
	height: 860px;
	text-align: center;
}

.header .info h2{
	color: #fff;
	font-size: 30px;
}
.header .info p{
	color: #fff;
	font-weight: lighter;
	font-size: 20px;
}
/**/



/*CoNTENTE*/

.content{
	padding: 10px 0px;
}

.blog h2{
	text-align: center;
	font-weight: normal;
	font-size: 40px; 
}

.boxcar{
	margin-bottom: 10px;
}