/***


custom


***/

*{
font-family: 'Source Sans Pro', sans-serif;

}
 body{
 	background: #fff !important;
 }

select{
	opacity: 0.8;
}

label{
	font-weight: bold;
}
form p {
	font-weight: 300;
}
#bg-header{
	height: 300px !important;
	background: #000;
	
}

#index-header{

	height: 500px !important;
	background: #000;
	background: url("http://localhost/SellCar/assets/images/bg_header.jpg");
}

.bg-header h1{
	margin-top:100px; 
	color: #fff;
}

.form-header{
	margin-top: 150px;
}
.form-header h2{
	color: #fff;
}

.infoheader{
	background: #000;
	padding: 10px; 
	color: #fff;
}

.galeria-init{
	height: 400px !important;
    width: 600px !important;

}
.galeria-img{
	 width: 200px !important;
	height: 150px !important;

 


}

.galeria-img:hover{
	opacity: 0.9;
}

.nav-link{
	color: #fff !important;
	
}

.nav-link:hover{
	color: #ccc !important;
}
.price{
	color: #0B610B !important;

}
.price p{
		font-weight: 500 !important;

}

.infocar{
	border: 5px solid #fff;
	background: #F8F8FF;

}

.imgspan img{
	width: 300px !important;
	height: 200px !important;
}