/***


custom


***/

*{
font-family: 'Source Sans Pro', sans-serif;

}
 body{
 	background: #fff !important;
 }

select{
	opacity: 0.8;
}

label{
	font-weight: bold;
}
form p {
	font-weight: 300;
}



#bg-header{
	height: 400px !important;
	background-color: #000; 

}
#bg-header h1{
	
	top: -400px;
	position: relative;

}

/*-----------------------*/
#bg{
	height: 500px !important;
		filter: blur(5px);
		opacity: 0.9;


}


#bg h1{
	margin-top:250px; 


}
/*-------------------------*/
#index-header{

	height: 400px !important;
	background: #000;
	background: url("http://localhost/SellCar/assets/images/bg_header.jpg");
}

#index-header h1{
	margin-top:100px; 
	color: #fff;
	text-shadow: 2px 2px #000;
	font-size: 50px;
}

.bg-header h1{
	margin-top:100px; 
	color: #fff;
	text-shadow: 2px 2px #000;
	font-size: 50px;


}
.bg-header h1:hover{
	
}

.form-header{
	margin-top: 100px !important;
}
.form-header h2{
	color: #fff;
}

.infoheader{
	background: #000;
	padding: 10px; 
	color: #fff;
}

.galeria-init{
	height: 400px !important;
    width: 600px !important;

}
.galeria-img{
	height: 150px !important;
    width: 250px !important;


}

.galeria-img:hover{
	opacity: 0.9;
}

.nav-link{
	color: #fff !important;
	
}

.nav-link:hover{
	color: #ccc !important;
}
.price{
	color: #0B610B !important;

}
.price p{
		font-weight: 500 !important;

}

.infocar{
	border: 5px solid #fff;
	background: #F8F8FF;

}

